body {
  background-color:AntiqueWhite;
  margin:20px 20px 20px 20px;
}

h1 {
  font-family:Impact, Charcoal, sans-serif;
  Text-align:center;
}

nav {
  Text-align:center;
}

p {
  font-family:Georgia, serif;
}

ul {
   margin: 25px 25px 25px -20px;
}

